li {
				color: rgb(20,07,187); // mialo byc 87 ale troche ciemno na tekscie wychodzi


			}





p {
	color: #ff006e
}

h1 {
	font-family: Courier New, sans serif; // rodzina czcionek: pierwsza preferowana przez nas
										// druga w razie jakby nie bylo tej preferowanej w przegladarce usera
	font-size: 20px;
	border: 1px solid grey;
}

// div {
	background-color: rgb(20,07,187);
	width: 100px;
	height: 100px;
	margin: 30px; // margines calego elementu div
	padding: 50px; // odleglosc samego textu (zawartosci div)

}		

#section_1 {
	font-family: Arial;
	font-weight: italic;
}	